* {
    color : #fff;
}

body {
    background-color: #618685;
}
#container {
    background-color: #36486b;
    width: 250px;
    height: 300px;
    padding: 20px;
    box-shadow: 10px 10px #4040a1;
}
#container2 {
    background-color: #36486b;
    width: 250px;
    padding: 20px;
    box-shadow: 10px 10px #4040a1;
    float: right;
    position: relative;
}
#container input {
    background-color: transparent;
    border : 1px solid #4040a1;
    margin: 3px;
}
#container2 input {
    background-color: transparent;
    border : 1px solid #4040a1;
    margin: 3px;
}
#container select {
    background-color: transparent;
    border : 1px solid #4040a1; 
}

 option {
    background-color: #36486b;
    border : 1px solid #4040a1; 
}
