* {
	background-color:#b2b2b2;
	marign = 0;
	font-family: "Comic sans MS";
}
body {
	margin: 0;
}
	
#conteiner {
	background-color : #50394c;
	width: 300px;
	height: 160px;
	position: absolute;
	top: 200px;
	left: 200px;
	border: 2px solid #f4e1d2;
	line-height: 20px;
	color: #fff;
	box-shadow: 10px 10px 5px #888888;
}
	
.div_block {
	background-color : transparent;
	padding-top: 50px;
	padding-left: 30px;
	display: inline-block;
}
	
#input_place {
	float : right;
	width: 30px;
	padding-right: 130px;
	
}
.div_block  input{
	background-color:#b2b2b2;
	height: 15px;
	color: #fff;
}
*::-webkit-input-placeholder{
	color: #fff;
	padding-left:3px;
	
}
#button_validate {
	position: relative;
	left: 47%;
	bottom: -20px;
	color:#fff;
	background-color: #50394c;
	border: 1px solid #f4e1d2;
	font-variant: small-caps;
}
#button_validate:visited  {
	background-color:red;
}