<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
    <ui:composition template="home.xhtml">
        <ui:define name="header">
            <h2>Page1 header</h2>
        </ui:define>

        <ui:define name="content">
            <h2>Page1 content</h2>
            <h:link value="Back To Home" outcome="home"/>
        </ui:define>
        <ui:define name="tablecontent">
            <h:dataTable value="#{applicationController.cars}" var="car" class="table">
                <h:column>
                    <f:facet name="header">Car name</f:facet>
                    #{car.name}
                </h:column>
                <h:column>
                    <f:facet name="header">Reg. plate</f:facet>
                    #{car.regPlate}
                </h:column>
                <h:column>
                    <f:facet name="header">Total mass</f:facet>
                    #{car.totalMass}
                </h:column>
                <h:column>
                    <f:facet name="header">Vin</f:facet>
                    #{car.vin}
                </h:column>
            </h:dataTable>
        </ui:define>

        <ui:define name="footer">
            <h2>Page1 Footer</h2>
        </ui:define>
    </ui:composition>

</h:body>
</html>