<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Title</title>
</h:head>
<h:body>
    <ui:composition>
        <h:form>
            <div class="row">
                <div class="col-md-3">
                    Name:
                </div>
                <div class="col-md-3">
                    <h:inputText value="#{form.name}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    REG plate:
                </div>
                <div class="col-md-3">
                    <h:inputText value="#{form.regPlate}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    total mass:
                </div>
                <div class="col-md-3">
                    <h:inputText value="#{form.totalMass}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    VIN:
                </div>
                <div class="col-md-3">
                    <h:inputText value="#{form.vin}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    SAVE:
                </div>
                <div class="col-md-3">
                    <h:commandButton actionListener="#{form.save}" value="Zapisz" class="btn btn-success"/>
                </div>
            </div>
        </h:form>
    </ui:composition>
</h:body>
</html>