* {
    background-color: #b2b2b2;
}
#container {
    background-color: #50394c;
    width:350px;
    height: 300px;
    padding: 20px;
}
#color_list{
    background-color: transparent; 
}

#color_list option {
    margin-right: 5px;
    color: #fff;
    background-color: #50394c; 
}
.incorect {
    background-color: #ff4444;
}
h4 {
    background-color: transparent;  
    color: #fff; 
}