body {
    margin: 0;

}
#container {
    max-width: 1280px;
    margin: 0 auto;
}
/*********************************************/
#header {
    height: 150px;
    background-color: #4040a1;
    background: -webkit-linear-gradient(left, #4040a1 , #36486b); 
    background: -o-linear-gradient(right, #4040a1, #36486b); 
    background: -moz-linear-gradient(right, #4040a1, #36486b); 
    background: linear-gradient(to right, #4040a1 , #36486b); 
    color: #fff;
    padding:20px;
}
#logo {
    display: inline-block;
    border-radius: 10%;
    box-shadow: 3px 3px 2px black;
    width: 150px;
    height: 150px;
}
#logo:hover {
    width: 160px;
    height: 160px;
}
#header_text {
    display:inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#header_title {
    font-size: 50px;
}
#header_subtitle {
    font-size: 25px;
}
/*********************************************/
#main {
    background-color: #36486b;
}
#menu {
    float: left;
    width: 160px;
    background-color: #4040a1;
    background: -webkit-linear-gradient(top, #4040a1 , #36486b); 
    background: -o-linear-gradient(bottom, #4040a1, #36486b); 
    background: -moz-linear-gradient(bottom, #4040a1, #36486b); 
    background: linear-gradient(to bottom, #4040a1 , #36486b);
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}
#menu_title {
    font-size: 25px;
    color: #ffec1c;
    margin-bottom: 20px;  
}
.menu_link>a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-left: 3px solid transparent;
    padding: 3px;
}
.menu_link a:hover {
    border-left: 3px solid #fff;
    color:#ffec1c;
}
.active_link a{
    color: #ffec1c;
}
#content {
    min-height: 300px;
    color: #fff;
    border-left: 3px solid #4040a1;
    background: #4040a1; 
    background: -webkit-radial-gradient(#4040a1 20%, #36486b 60%); 
    background: -o-radial-gradient(#4040a1 20%, #36486b 60%); 
    background: -moz-radial-gradient(#4040a1 20%, #36486b 60%);
    background: radial-gradient(#4040a1, #36486b); 
    margin-left: 200px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
}
#content h2 {
    padding: 15px;
    font-size: 150%;
    margin:0;
    color:#ffec1c;
}
.player {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
    padding-top:2px;
    display: block;
    text-decoration: none;
    border-left: 3px solid transparent;
}
th {
    text-align: left;
}
th {
    border-bottom: 1px solid black;
}
td {
    min-width: 50px;
}
/*********************************************/
#footer {
    height: 40px;
    background-color: #36486b;
    color: #fff;
    clear: both;
    padding-top:20px;
    padding-left: 50px;
}


/*rowspan colspan łączenie komórek */