a {
	text-decoration:none;
	color: #1265ea;
	font-size: 20px;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #3dea12;
}
li:nth-child(even) a {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
li:nth-child(odd) a {
	font-family: "Times new roman";
	font-size:30px;
}
li:first-child {
	background-color: #6c7769;
}
li:last-child {
	background-color: #6c7769;
}
a:active {
	color : #ffffff;
}