#katowice {
	text-decoration: underline;
}
li.boss {
	color: #ea0707;
}
.pierwsza_osoba {
	font-weight: bold;
}

ul {
	font-size: 40px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	list-style-type: armenian;
}
li li {
	font-size: 50%;
} 
/*
ul ul ol {
	font-size: 12px;
}

ul ul {
	font-size: 16px;
}

ul {
	font-size: 20px;
}
h1 {
	font-size: 2em;
}
*/

