* {
	margin: 0px;
}

#ikony_pasek {
	float: right;
	
}
#ikony_pasek div {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #ddd;
	padding: 0;
	text-align: center;
	position: relative;
	top: 2.5px;
}
#ikony_pasek div:last-child {
	background-color: red;
}

#pasek img {
	width: 20px;
	height: 20px;
}
.wiersz_okna {
	height: 25px;
	border: 2px solid #ddd;
	margin: 0%;
}

#menu div {
	display: inline-block;
	height: 25px;
		
}
#pasek span {
	font-size: 20px;
}
#menu select {
	height: 25px;
	width: 70px;
}
.okno {
	width: 50%;
	height: 500px;
	display: inline-block;
	border: 1px solid black;
	margin: 0;
}

