.obramowanie {
  border: 3px solid green;
}
#super-div {
  background-color: red;
  padding: 50px;
}
@media (min-width: 500px) {
  #super-div {
    background-color: cyan;
  }
}
#super-div .nested {
  border: 3px solid green;
  background-color: #222222;
  padding: 50px;
}
#super-div .nested #inner-div {
  background-color: yellow;
  padding: 50px;
  border: 10px solid blue;
}
#super-div .nested #inner-div2 {
  border: 3px solid green;
  background-color: black;
  padding: 50px;
}
