@ramka: 3px;
@bazowyKolor: #222;
.obramowanie {
	border: @ramka solid green;
}
.obramowanie2(@grubosc){
	border: @grubosc solid blue;
}

#super-div {
	@media(min-width: 500px){
		background-color: cyan;
	}
	
	background-color: red;
	padding: 50px;
	.nested {
		.obramowanie;
		background-color: @bazowyKolor;
		padding: 50px;
		#inner-div {
			background-color: yellow;
			padding: 50px;
			.obramowanie2(10px);
		}

		#inner-div2 {
			.obramowanie;
			background-color: black;
			padding: 50px;
		}
	}
}

