<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c36584">  <td>17/03/26 20:18:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;sda.OneToOneTest.setUp()">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1419810764</td>   <td></td> </tr>
<tr bgcolor="c36584">  <td>17/03/26 20:18:09</td>   <td>735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sda.OneToOneTest.foreignKey()">foreignKey</td> 
  <td>main@1419810764</td>   <td></td> </tr>
<tr bgcolor="c36584">  <td>17/03/26 20:18:09</td>   <td>829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sda.OneToOneTest.joinTable()">joinTable</td> 
  <td>main@1419810764</td>   <td></td> </tr>
<tr bgcolor="c36584">  <td>17/03/26 20:18:09</td>   <td>834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sda.OneToOneTest.sharedPrimaryKey()">sharedPrimaryKey</td> 
  <td>main@1419810764</td>   <td></td> </tr>
</table>
